@model PixelGemShop.Models.Users
@{
    ViewBag.Title = "Index";
}
@if (TempData["Message"] != null)
{
    <div class="alert" role="alert">
        @TempData["Message"]
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div class="container d-flex align-content-center align-items-center flex-column text-smoke">
            <h2 class="text-gold fw-bold mb-3">Login</h2>

            @Html.LabelFor(model => model.Email, "E-mail: ")
            @Html.TextBoxFor(model => model.Email, new { placeholder = "E-mail" })
            @Html.ValidationMessageFor(model => model.Email, "", new { style = "color: red; font-weight: bold;" })

            @Html.LabelFor(model => model.Password, "Password: ")
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { style = "color: red; font-weight: bold;" })

            <p>Don't have an account? @Html.ActionLink("Sign Up", "SignUp", "Login", null, new { @class = "text-gold glow-on-hover" })</p>
            <button type="submit" class="btn glow-on-hover">Login</button>
        </div>
    }
}
else
{
    <h2>You're already logged</h2>
    <p>Logout: </p>
    <form action="@Url.Action("Logout", "Login")" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn glow-on-hover">Logout</button>
    </form>
}

