@model PixelGemShop.Models.Users
@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="container d-flex align-content-center align-items-center flex-column">
        <div class="form-group text-white text-center mb-3">
            @Html.LabelFor(model => model.Email, "E-mail: ", new { @class = "text-black" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "E-mail" })
            @Html.ValidationMessageFor(model => model.Email, "", new { style = "color: red; font-weight: bold;" })
        </div>
        <div class="form-group text-white text-center mb-3">
            @Html.LabelFor(model => model.Password, "Password: ", new { @class = "text-black" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { style = "color: red; font-weight: bold;" })
        </div>
        <button class="btn btn-primary text-white">Login</button>
    </div>
}