@{
    ViewBag.Title = "Index";
}
@if (TempData["Message"] != null)
{
    <div id="alertDiv" class="alert" role="alert">
        @TempData["Message"]
    </div>
}
<div class="text-center">
<h2 class="text-gold fw-bold display-5 mb-3">Your Reviews (@ViewBag.ReviewsCount)</h2>
    @foreach (var review in Model)
    {
        <div class="d-flex flex-wrap border border-secondary my-3 primary-bg">
            <div class="col-4">
                <img src="@Url.Content("~/Uploads/" + review.Products.Image)" width="250" height="200" class="cart-img" alt="product-image" />
            </div>
            <div class="col-8">
                <p class="fs-4">@review.Products.Name</p>
                <p>@review.Description</p>
                <p class="text-gold">@review.Rate Stars</p>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("EditReview","Reviews", new {id = review.IdReview})" class="btn glow-on-hover">Edit</a>
                    @using (Html.BeginForm("DeleteReview", "Reviews"))
                    {
                        @Html.AntiForgeryToken();
                        <input type="hidden" value="@review.IdReview" name="IdReview" />
                        <input type="hidden" value="@review.IdUser" name="IdUser" />
                        <button type="submit" class="btn btn-darker-accent glow-on-hover">Delete</button>

                    }
                </div>

            </div>
        </div>
    }
    @Html.ActionLink("Back to profile", "Index", "User", null, new { @class = "btn glow-on-hover" })
</div>

