@*RENDERLA PAGINA CON LE MIE RECENSIONI MODIFICABILI O ELIMINABILI*@
@{
    ViewBag.Title = "Index";
}

<h2>Your Reviews</h2>
<div>
    @foreach (var review in Model)
    {
        <div class="border border-black">
            <p>@review.Users.Username</p>
            <p>@review.Products.Name</p>
            <p>@review.Rate</p>
            <p>@review.Description</p>
        </div>

        <a href="@Url.Action("EditReview","Reviews", new {id = review.IdReview})" class="btn" >Edit</a>

        using (Html.BeginForm("DeleteReview", "Reviews"))
        {
            @Html.AntiForgeryToken();
            <input type="hidden" value="@review.IdReview" name="IdReview" />
            <input type="hidden" value="@review.IdUser" name="IdUser" />
            <button type="submit">Delete</button>
        }
    }
</div>

