@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Unearth Gaming Gems at Pixel Gem Shop: Where Every Purchase is Sparkling Treasure!" />
    <meta name="keywords" content="gaming, pixelgem, shop, videogames, console" />
    <title>@ViewBag.Title - Pixel Gem Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (User.IsInRole("Admin"))//LINK SOLO PER GLI ADMIN
                    {
                        // TODO: Dropdown link con le crud dei prodotti
                        @*<li>@Html.ActionLink("", "", "", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("Manage Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.IsInRole("User"))//LINK SOLO PER GLI USER
                    {
                        @*<li>@Html.ActionLink("", "", "", new { area = "" }, new { @class = "nav-link" })</li>*@
                    }
                </ul>
                @if (authCookie == null)
                {
                    <ul class="navbar-nav">
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "btn btn-success" })</li>
                    </ul>
                }
                @if (authCookie != null)
                {
                    <ul class="navbar-nav align-items-center">
                        @if (Session["Username"] != null)
                        {
                            <li class="text-white">
                                Benvenuto @Session["Username"] @*all'interno dell'if non appare se non sei loggato quindi non serve svuotare la session*@
                            </li>
                            @*TODO: Link al profilo di questo user sul nome alla Amazon + hover che evidenza il link*@
                        }
                        <li>
                            <form action="@Url.Action("Logout", "Login")" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">Logout</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pixel Gem Shop</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
