@model PixelGemShop.Models.Products

@{
    ViewBag.Title = "Details";
}
<div class="d-flex flex-wrap">
    <div class="col-12 col-md-4">
        <img src="@Url.Content("~/Uploads/" + Model.Image)" alt="Product Image" class="img-fluid position-sticky details-img" />
    </div>
    <div class="col-12 col-md-8">
        <h3 class="display-3">@Html.DisplayFor(model => model.Name)</h3>
        <hr />
            <div class="d-flex flex-wrap">
                <div class="col-6 col-md-3 col-lg-2 text-end">
                    <p class="fw-bold text-gold">Recommended price:</p>
                </div>
                <div class="col-6 col-md-9 col-lg-10">
                    <p class="ps-1">@Html.DisplayFor(model => model.Price)&euro;</p>
                </div>
                @if (Model.DiscountPercentage != null)
                {
                    <div class="col-6 col-md-3 col-lg-2 text-end">
                        <p class="fw-bold text-gold">Discounted Price:</p>
                    </div>
                    <div class="col-6 col-md-9 col-lg-10">
                        <p class="ps-1">
                            <span class="text-decoration-line-through">@Model.Price&euro;</span> -@Model.DiscountPercentage%
                            <br>
                            <span class="text-gold fw-bold">@(Math.Round(Model.Price - (Model.Price * ((decimal)Model.DiscountPercentage / 100M)), 2))&euro;</span>
                        </p>
                    </div>
                }
            </div>
        <hr />
        <p>
            <span class="fw-bold text-gold">Information about this article:</span>
            <br />
            @Html.DisplayFor(model => model.Description)
        </p>
        <hr />
        <div id="reviews">
            <h4 class="text-gold fw-bold">Reviews (@ViewBag.ReviewsCount)</h4>
            @foreach (var review in ViewBag.Reviews)
            {
                <div class="border border-secondary my-3">
                    <p class="fw-bold">
                        @review.Users.Username
                        <br />
                        <span class="text-gold">Rating: @review.Rate</span>
                        <br />
                    </p>
                    <p>@review.Description</p>
                </div>
            }
            @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn glow-on-hover" })
        </div>
    </div>
</div>


