@model PixelGemShop.Models.Products

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column align-items-center text-center">
        <h4 class="fw-bold text-gold">Products</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdProduct)

        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "fw-bold text-gold" })
        <input type="file" name="Image" id="Image" accept="image/*" value="@Model.Image" />
        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.EditorFor(model => model.Stock)
        @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.IdCategory, "IdCategory", htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.DropDownList("IdCategory")
        @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.DiscountPercentage, htmlAttributes: new { @class = "fw-bold text-gold" })
        @Html.EditorFor(model => model.DiscountPercentage)
        @Html.ValidationMessageFor(model => model.DiscountPercentage, "", new { @class = "text-danger" })

        <div>
            <button type="submit" class="btn glow-on-hover">Save</button>
            @Html.ActionLink("Back", "Index", "Products", null, new { @class = "btn btn-darker-accent glow-on-hover" })
        </div>
    </div>
}

