@model IEnumerable<PixelGemShop.Models.Products>

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2 class="text-gold fw-bold display-5 mb-3">Product list</h2>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn glow-on-hover" })
</div>
<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-4 border text-center">
            <p class="fs-2 fw-bold">@Html.DisplayFor(modelItem => item.Name)</p>
            <img src="@Url.Content("~/Uploads/" + item.Image)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
            <ul class="list-unstyled">
                <li>
                    <span class="fw-bold text-gold">@Html.DisplayNameFor(model => model.Categories.ProductCategory):</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.Categories.ProductCategory)
                </li>
                <li>
                    <span class="fw-bold text-gold">@Html.DisplayNameFor(model => model.Description):</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.Description)
                </li>
                <li>
                    <span class="fw-bold text-gold">@Html.DisplayNameFor(model => model.Stock):</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.Stock)
                </li>
                <li>
                    <span class="fw-bold text-gold">@Html.DisplayNameFor(model => model.Price):</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.Price)
                </li>
                <li>
                    <span class="fw-bold text-gold">@Html.DisplayNameFor(model => model.DiscountPercentage):</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </li>
            </ul>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProduct }, new { @class = "btn btn-darker-accent glow-on-hover" })
                @Html.ActionLink("Details", "Details", new { id = item.IdProduct }, new { @class = "btn glow-on-hover" })
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProduct }, new { @class = "btn btn-darker-accent glow-on-hover" })
            </div>
        </div>
    }
</div>