@using PixelGemShop.Models
@{
    ViewBag.Title = "OrderHistory";
}

@if (TempData["Message"] != null)
{
    <div class="alert" role="alert">
        @TempData["Message"]
    </div>
}

<h2 class="text-gold fw-bold text-center display-5 mb-3">Order History (@ViewBag.OrdersCount)</h2>
@foreach (var order in Model)
{
    <div class="border border-secondary my-3 mx-2 primary-bg">
            <p class="text-center">
                <span class="text-gold fw-bold">Order placed on: </span>
                <br />
                @order.DateOrder
            </p>
        @foreach (var orderDetail in order.OrderDetails)
        {
            int modalIndex = orderDetail.IdProduct.GetHashCode();
            <div class="d-flex flex-wrap">
                <div class="col-4 text-center">
                    <img src="@Url.Content("~/Uploads/" + orderDetail.ProductImage)" class="cart-img" width="250" height="200" alt="product-image" />
                </div>
                <div class="col-8 ps-2 border">
                    <p class="fs-4">@orderDetail.Quantity x @orderDetail.ProductName</p>
                    <p class="text-gold">@(orderDetail.ProductPrice * orderDetail.Quantity) &euro;</p>
                    @if (orderDetail.IdProduct != null)
                    {
                        <button type="button" class="btn glow-on-hover" data-bs-toggle="modal" data-bs-target="#reviewModal-@modalIndex">
                            Leave a feedback
                        </button>
                    }
                </div>
            </div>
            
            //MODAL
            <div class="modal fade" id="reviewModal-@modalIndex" tabindex="-1" aria-labelledby="reviewModalLabel-@modalIndex" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content text-center primary-bg">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5 text-gold" id="reviewModalLabel-@modalIndex">Add a review for this article</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("AddReview", "Reviews"))
                            {
                                @Html.AntiForgeryToken();
                                <input type="hidden" name="IdUser" value="@User.Identity.Name" />
                                <input type="hidden" name="IdProduct" value="@orderDetail.IdProduct" />
                                <div class="rating mb-3">
                                    <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(1, @modalIndex)">
                                        <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
                                    </svg>
                                    <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(2, @modalIndex)">
                                        <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
                                    </svg>
                                    <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(3, @modalIndex)">
                                        <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
                                    </svg>
                                    <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(4, @modalIndex)">
                                        <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
                                    </svg>
                                    <svg class="star" viewBox="0 0 24 24" width="30" height="30" onclick="setRating(5, @modalIndex)">
                                        <path d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 L12 2"></path>
                                    </svg>
                                </div>
                                <input type="hidden" class="Rate" name="Rate" value="" />
                                <textarea id="Description" name="Description" placeholder="Your review..."></textarea>
                                <div>
                                    <button type="submit" class="btn glow-on-hover">Submit</button>
                                    <button type="button" class="btn btn-darker-accent glow-on-hover" data-bs-dismiss="modal">Close</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}
@Html.ActionLink("Back to profile", "Index", "User", new { @class = "btn glow-on-hover" })

@section scripts {
    <script>
        const stars = document.querySelectorAll('.star')
        const ratings = document.querySelectorAll('.rating input');

        function setRating(value, modalIndex) {
            const ratingValueField = document.querySelector(`#reviewModal-${modalIndex} .Rate`);
            ratingValueField.value = value;
            highlightStars(value, modalIndex);
        }

        function highlightStars(value, modalIndex) {
            const stars = document.querySelectorAll(`#reviewModal-${modalIndex} .star`);
            stars.forEach((star, index) => {
                if (index < value) {
                    star.classList.add('active');
                } else {
                    star.classList.remove('active');
                }
            });
        }
    </script>
}

