@using PixelGemShop.Models
@{
    ViewBag.Title = "OrderHistory";
}

<h2>Order History</h2>

@foreach (var order in Model)
{
    <div class="border border-black">
        <div>
            <p>
                <span class="text-gold fw-bold">Order placed on: </span>
                <br />
                @order.DateOrder
            </p>
        </div>
        @foreach (var orderDetail in order.OrderDetails)
        {
            <div class="row">
                <div class="col-4">
                    <img src="@Url.Content("~/Uploads/" + orderDetail.ProductImage)" class="w-100 h-100" width="30" height="30" alt="product-image" />
                </div>
                <div class="col-8">
                    <p>@orderDetail.Quantity x @orderDetail.ProductName</p>
                    <p class="text-gold">@orderDetail.ProductPrice &euro;</p>
                    @if (orderDetail.IdProduct != null)
                    {
                        @Html.ActionLink("Leave a feedback", "AddReview", "Reviews", new { area = "", id = orderDetail.IdProduct }, new { @class = "btn glow-on-hover" })
                        //modale per recensione qua
                    }
                </div>
            </div>

        }
    </div>
}
@Html.ActionLink("Back to profile", "Index", "User", new { @class = "btn glow-on-hover" })

